#techni
{

box-shadow:0px 0px 30px 2px;

width:500px;
background:white;
position:relative;
}
#techniheader
{
	text-align:center;
	color:white;
	height:20px;
	background:black;
	}
	table, th, td
	{
		border:1px solid gray;
	}
	td{
	padding:1px;
	text-align:center;
	}